@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


    :root{
        --background: oklch(0.178 0 0);
        --foreground: oklch(0.822 0 0);
}



@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}
